[
  {ems, [
  	{redis_pool,{100,eredis,start_link,[
			{
			  [
			  	[{host, "127.0.0.1"}, {port, 6379}, {database,0},{password,""}],
			    [{host, "127.0.0.1"}, {port, 6379}, {database,0},{password,""}]
			  ],
			  
			  [
			  	[{host, "127.0.0.1"}, {port, 6379}, {database,0},{password,""}],
			    [{host, "127.0.0.1"}, {port, 6379}, {database,0},{password,""}]
			  ]
			},
			
			{
			  [
			  	[{host, "127.0.0.1"}, {port, 6379}, {database,0},{password,""}],
			    [{host, "127.0.0.1"}, {port, 6379}, {database,0},{password,""}]
			  ],
			  
			  [
			  	[{host, "127.0.0.1"}, {port, 6379}, {database,0},{password,""}],
			    [{host, "127.0.0.1"}, {port, 6379}, {database,0},{password,""}]
			  ]
			},
			
			{
			  [
			  	[{host, "127.0.0.1"}, {port, 6379}, {database,0},{password,""}],
			    [{host, "127.0.0.1"}, {port, 6379}, {database,0},{password,""}]
			  ],
			  
			  [
			  	[{host, "127.0.0.1"}, {port, 6379}, {database,0},{password,""}],
			    [{host, "127.0.0.1"}, {port, 6379}, {database,0},{password,""}]
			  ]
			},
			
			{
			  [
			  	[{host, "127.0.0.1"}, {port, 6379}, {database,0},{password,""}],
			    [{host, "127.0.0.1"}, {port, 6379}, {database,0},{password,""}]
			  ],
			  
			  [
			  	[{host, "127.0.0.1"}, {port, 6379}, {database,0},{password,""}],
			    [{host, "127.0.0.1"}, {port, 6379}, {database,0},{password,""}]
			  ]
			}
		]}}
	
	]}
].
